/* */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100vh;
    background: radial-gradient(circle, var(--bg-color-2), var(--bg-color-1));
    background-attachment: fixed;
    color: var(--default-color);
    scroll-behavior: smooth;
    max-width: 100vw;
    box-sizing: border-box;
    overflow-x: clip;
}
body::selection{
    color: black;
    background-color: var(--default-color);
}
:root{
    --default-color: white;
    --theme-color: #00d0ff;
    --bg-color-1: #0f0f0f;
    --bg-color-2: #1a2a2d;
    --bg-color-3: #323131;
}
/* Highlighted text */
.highlight{
    color: var(--theme-color);
    text-shadow: var(--theme-color) 0 0 10px;
    font-weight: 400;
}
.highlight::selection{
    color: black;
    background-color: var(--theme-color);
}
.highlighted{
    color: var(--theme-color);
    text-shadow: var(--theme-color) 0 0 10px;
    font-weight: 400;
    font-size: 3rem;
    text-align: center;
}
/* Basic stuff that every section uses */
.sections-header{
    font-size: 3rem;
    font-family: "Roboto";
    font-weight: 700;
    text-align: center;
    margin-bottom: 0;
}
.sections-seader{
    font-size: 1.5rem;
    font-family: "Roboto";
    text-align: center;
    margin: 10px 0 50px;
}
/* Elements hidden/shown when on mobile */
@media (max-width: 768px) {
    #hidden-mobile{
        display: none;
    }
    #shown-mobile{
        display: block;
    }
}
@media (min-width: 768px) {
    #hidden-mobile{
        display: block;
    }
    #shown-mobile{
        display: none;
    }
}
/* Fonts for Light,Normal,Bold*/
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto_SemiCondensed-Light.ttf") format("woff2");
    font-weight: 100;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto_SemiCondensed-Medium.ttf") format("woff2");
    font-weight: 400;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto_SemiCondensed-Bold.ttf") format("woff2");
    font-weight: 700;
}

/* NavBar */
nav{
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav img{
    height: clamp(80px, 10vw, 100px);
    transition: 0.2s ease-in-out;
}
nav img:hover{
    transform: scale(1.2);
}
.nav-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-buttons span{
    font-size: 2rem;
    text-decoration: none;
    color: var(--default-color);
    margin-right: 25px;
    font-family: "Roboto";
}
.nav-buttons a{
    font-size: 2rem;
    text-decoration: none;
    color: var(--default-color);
    margin-right: 25px;
    transition: 0.2s ease-in-out;
    font-family: "Roboto";
}
.nav-buttons a:hover{
    color: var(--theme-color);
    text-decoration: underline;
}
.nav-buttons-main{
    color: var(--theme-color) !important;
    text-decoration: underline !important;
}
.nav-learnmore{
    background-color: var(--theme-color);
    font-size: 1.5rem;
    font-family: "Roboto";
    font-weight: 100;
    text-decoration: none;
    color: black;
    border: 2px solid var(--bg-color-1);
    border-radius: 15px;
    padding: 15px;
    transition: 0.2s ease-in-out;
}
.nav-learnmore:hover{
    color: var(--default-color);
    border: 2px solid var(--theme-color);
    background-color: var(--bg-color-1);
    transform: scale(1.1);
    box-shadow: var(--theme-color) 0px 0px 10px;
}
.nav-menu-button{
    border: none;
    background-color: transparent;
    transition: 0.2s ease-in-out;
}
.nav-menu-button svg{
    width: 60px;
    fill: white;
}
.nav-menu-button svg g{
    stroke: white;
    stroke-width: 0px;
}
.nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 100%;
    overflow: hidden;
}
.nav-menu a{
    color: white;
    font-family: "Roboto";
    font-size: 2rem;
    text-decoration: underline;
    text-align: center;
    margin: 10px;
    width: max-content;
    white-space: normal;
    overflow-wrap: break-word;
}
.nav-menu-darkness{
    height: 100vh;
    position: fixed;
    inset: 0;
    z-index: 100;
    background-color: rgba(0,0,0,0.7);
    transition: opacity 0.3s linear;
    overflow: hidden;
}
.nav-menu-darkness *{
    max-width: 100%;
    overflow: hidden;
    box-sizing: border-box;

}
.nav-menu-darkness button{
    width: 80px;
    position: absolute;
    top: 3rem;
    right: 3rem;
    stroke: none;
    fill: white;
    background-color: transparent;
    border: none;
}
.nav-menu-darkness button svg{
    max-width: 100%;
}

/* Start of top section */
.top{
    padding: 2% 4% 0px 4%;
}
main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 4% 0px 4%;
}
/* Main-left stuff*/
.main-left{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
    border-left: var(--theme-color) 7px solid;
    padding-left: 5px;
}
.main-left-1{
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "Roboto";
    font-weight: 100;
}
    .main-left-1 p{
        display: block;
        min-width: fit-content;
        padding: 10px 15px 10px 5px;
        margin: 0px;
        background-color: var(--bg-color-3);
        border-radius: 7px;
    }
.main-left-2{
    font-size: 3rem;
    margin: 0px;
    font-family: "Roboto";
    font-weight: 700;
}
    .main-left-3 p{
        margin: 0px;
        font-family: "Roboto";
        font-weight: 400;
        font-size: 1.5rem;
    }
.main-left-4{
    margin-top: 10px;
}
    .main-left-4 a svg{
        width: 30px;
        height: 30px;
        fill: gray;
        transition: 0.2s all ease-in-out;
        margin-left: 7px;
    }
    .main-left-4 a svg:hover{
        fill: var(--theme-color);
        transform: scale(1.1);
    }
/* Main-middle stuff*/
.main-middle{
    max-width: max-content;
}
.main-middle img{
    width: clamp(40vw,40vw,650px);
    object-fit: contain;
    display: block;
    pointer-events: none;
}
/* Main-right stuff*/
.main-right{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0px 30px 35px 30px;
    border-left: var(--theme-color) 5px solid;
    padding-left: 7px;
}
.main-right-1{
    font-size: 2rem;
    font-family: "Roboto";
    font-weight: 700;
    margin: 0px;
}
.main-right-2{
    font-size: 1rem;
    font-family: "Roboto";
    font-weight: 100;
    margin: 0;
}
/* Mobile fixes*/
@media (max-width: 768px) {
    main{
        flex-direction: column;
        align-items: center;
    }
    .main-left{
        align-items: center;
        text-align: center;
        border: none;
    }
    .main-left-1 p{
        padding: 15px;
    }
    .main-middle{
        height: auto;
        margin-bottom: 25px;
    }
    .main-middle img{
        width: 80vw;
        max-width: none;
    }
    .main-right{
        margin-left: 0;
    }
}

/* Project div */
.project{
    width: 90%;
    height: fit-content;
    display: block;
    padding: 0 5% 5%;
}
.project-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3%;
}
.project-container button{
    width: 25px;
    background-color: transparent;
    border: none;
}
.project-container button svg{
    width: 90px;
    fill: var(--theme-color);
    position: relative;
    right: 37px;
    transition: ease-in-out 0.1s;
}
.project-container button svg:active{
    transform: scale(0.8);
}
.project-window{
    border: var(--theme-color) 5px solid;
    border-radius: 10px;
    max-width: 330px;
    transition: 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: min-content;
}
.project-window:hover{
    box-shadow: var(--theme-color) 0 0 22px;
    transform: scale(1.05) translateY(-30px);
}
.project-window img{
    width: 70%;
    margin: 15%;
    transition: 0.2s ease-in-out;
}
.project-window h1{
    font-size: clamp(1.3rem, 2vw, 1.5rem);
    font-family: "Roboto";
    font-weight: 400;
    text-align: center;
    margin-top: 1%;
    transition: 0.2s ease-in-out;
}
.project-window p{
    font-size: clamp(1.1rem, 2vw, 1.5rem);
    font-family: "Roboto";
    text-align: start;
    margin: 5%;
    font-weight: 100;
    max-width: 90%;
    transition: 0.2s ease-in-out;
}
.project-digit{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
.project-digit a{
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: var(--theme-color) 3px solid;
    border-radius: 50%;
    transition: ease-out 0.1s;
}
.project-digit-selected{
    width: 20px !important;
    height: 10px !important;
    background-color: var(--theme-color) !important;
    border-radius: 10px !important;
    box-shadow: var(--theme-color) 0 0 5px;
}
/* Mobile fixes*/
@media (max-width: 768px) {
    .project-seader{
        margin-bottom: 70px;
    }
    .project-window{
        max-width: 260px;
    }
    .project-window img{
        width: 70%;
        margin: 10%;
        margin-bottom: 5%;
    }
    .project-window p{
        max-width: 70%;
        height: 173px;
    }
    .project{
        width: 100%;
        padding: 0 0 5%;
    }
}

/* Below project section */
.started{
    padding: 5%;
}
.started-windows-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: max-content;
    gap: 3%;
}
.started-window{
    border: var(--theme-color) 5px solid;
    border-radius: 10px;
    width: 100%;
    max-width: 330px;
    transition: 0.2s ease-in-out;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    min-height: min-content;
    height: 500px;
    margin-bottom: 25px;
}
.started-window:hover{
    box-shadow: var(--theme-color) 0 0 22px;
    transform: scale(1.05) translateY(-30px);
}
.started-window img{
    max-width: 90%;
    padding: 5%;
}
.started-window h1{
    font-size: clamp(1.1rem, 2vw, 1.8rem);
    font-family: "Roboto";
    font-weight: 700;
    text-align: center;
    margin-top: 1%;
    transition: 0.2s ease-in-out;
}
.started-window p{
    font-size: clamp(0.9rem, 2vw, 1.5rem);
    font-family: "Roboto";
    text-align: start;
    margin: 5%;
    font-weight: 100;
    max-width: 90%;
    transition: 0.2s ease-in-out;
}
/* Mobile fixes*/
@media (max-width: 768px) {
    .started-window{
        height: 100%;
    }
    .started-windows-container{
        height: 200px;
        justify-content: start;
        height: 300px;
    }
    .started-window{
        max-width: 85%;
    }
}




.faq{
    padding: 5%;
    min-height: 550px;
}
.faq-windows-container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.faq-window{
    position: relative;
    background-color: white;
    padding: 15px;
    border-radius: 20px;
    transition: ease-in-out 0.2s;
}
.faq-window:hover{
    transform: scale(1.04);
    background-color: azure;
    cursor: pointer;
}
.faq-window h1{
    font-size: 1.5rem;
    color: var(--theme-color);
    font-family: "Roboto";
    margin: 0;
}
.faq-window p{
    font-size: 1rem;
    color: black;
    font-family: "Roboto";
    font-weight: 100;
    margin: 0;
    margin-top: 15px;
    display: none;
    transition: ease-in-out 0.2s;
}
.faq-window button{
    position: absolute;
    right: 15px;
    top: 20px;
}
@media (max-width: 768px){
    .faq{
        height: 600px;
    }
}








/* <hr> */
.breaker{
    height: 7px;
    width: 100%;
    background-color: var(--theme-color);
    border: none;
    margin: 0px;
    overflow-x: hidden;
}

/* Footer */
footer{
    height: 50%;
    background-color: #252525;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    max-width: 100vw;
    overflow: hidden;
}
.footer-1{
    height: clamp(80px, 10vw, 100px);
}
.footer-1 img{
    height: 100%;
}