html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100vh;
    background: radial-gradient(circle, var(--bg-color-2), var(--bg-color-1));
    color: var(--default-color);
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
}
body::selection{
    color: black;
    background-color: white;
}
:root{
    --default-color: white;
    --theme-color: #0242e4;
    --bg-color-1: #0f0f0f;
    --bg-color-2: #242424;
}

.highlighted{
    color: var(--theme-color);
}
.breaker{
    background-color: var(--theme-color);
    height: 15px;
    width: 100%;
}